{% extends 'authentication/base.html' %}
{% load static %}

{% block title %}Filtered Flights{% endblock %}

{% block additional_css %}
    <link href="http://cdn.kendostatic.com/2012.3.1114/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2012.3.1114/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://cdn.kendostatic.com/2012.3.1114/js/kendo.all.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.2/jquery.cookie.js"></script>
    <style>
        .kendo-cancel-btn, .kendo-book-btn {
            padding: 5px 10px;
            border: none;
            background-color: #007bff;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
        }
        .kendo-cancel-btn:hover, .kendo-book-btn:hover {
            background-color: #0056b3;
        }
        .flight_list {
            margin-top: 20px;
            margin-bottom: 30px;
            color: #302c2b;
        }
        .clear-filters-btn {
            padding: 5px 10px;
            border: none;
            background-color: #007bff;
            color: #fff;
            border-radius: 3px;
            cursor: pointer;
            margin-bottom: 10px;
            margin-left: 15px;
        }
        .clear-filters-btn:hover {
            background-color: #0056b3;
        }
        .filter-container {
            display: flex;
            gap: 5px;
            margin-bottom: 10px;
        }
        .grid-container {
            display: flex;
            gap: 20px;
        }
        .grid-container .grid {
            flex: 1;
        }
        .filter-controls {
            flex: 0.1;
        }
    </style>
{% endblock %}

{% block content %}
<h2 style="margin-top: 5%;
margin-bottom: 30px;
margin-left: 15px;
color: #302c2b;">Filtered Flights</h2>

<button class="clear-filters-btn" onclick="clearFilters()">Clear All Filters</button>
<br>
<br>
    
    <!-- <div class="filter-controls">
        <div class="filter-container">
            <select id="departure-time-filter"></select>

        </div>
        <div class="filter-container">
            <select id="arrival-time-filter"></select>
        </div>
        
    </div> -->

    <div id="grid" style="margin-left: 15px; margin-right: 15px;"></div>


<script>
    $(document).ready(function() {
        // Initialize the dropdowns
        $("#departure-time-filter").kendoDropDownList({
            dataSource: [
                { text: "00:00 - 06:00", value: "0-6" },
                { text: "06:00 - 12:00", value: "6-12" },
                { text: "12:00 - 18:00", value: "12-18" },
                { text: "18:00 - 00:00", value: "18-24" }
            ],
            dataTextField: "text",
            dataValueField: "value",
            optionLabel: "Select Departure Time Slot",
            change: onTimeSlotChange
        });

        $("#arrival-time-filter").kendoDropDownList({
            dataSource: [
                { text: "00:00 - 06:00", value: "00-06" },
                { text: "06:00 - 12:00", value: "06-12" },
                { text: "12:00 - 18:00", value: "12-18" },
                { text: "18:00 - 00:00", value: "18-24" }
            ],
            dataTextField: "text",
            dataValueField: "value",
            optionLabel: "Select Arrival Time Slot",
            change: onTimeSlotChange
        });

        var grid = $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "/fetch_filtered_flights/",
                        dataType: "json",
                        complete: function(e) {
                            console.log("Fetched data:", e.responseJSON);
                        }
                    }
                },
                schema: {
                    model: {
                        fields: {
                            flight_number: { type: "string" },
                            airlines_name: { type: "string" },
                            source: { type: "string" },
                            destination: { type: "string" },
                            departure_time: { type: "string" },
                            arrival_time: { type: "string" },
                            fare: { type: "number" },
                            available_seats: { type: "number" },
                            flight_id: { type: "string" },
                            logo_path: { type: "string" },
                            delay: { type: "number" },
                            estimated_departure_date: { type: "date" },
                            estimated_arrival_date: { type: "date" },
                            estimated_departure_time: { type: "number" },
                            estimated_arrival_time: { type: "number" },
                            distance: { type: "number" }
                        }
                    }
                },
                pageSize: 10
            },
            autoBind: false,
            sortable: true,
            groupable: true,
            filterable: true,
            pageable: {
                input: true,
                numeric: false
            },
            columns: [
                { field: "flight_number", title: "Flight Number", width: "150px", filterable: false, sortable: false, groupable: false },
                { field: "airlines_name", title: "Airlines Name", width: "130px", filterable: { cell: { operator: "contains", showOperators: false } } },
                { field: "logo_path", title: "Airlines Logo", template: "<img src='{% static 'media/'%}#= airlines_name #_logo.png' alt='#= airlines_name #' width='70' height='50'>", width: "150px", sortable: false, filterable: false, groupable: false },
                { field: "source", title: "Source", width: "120px", filterable: false, sortable: false, groupable: false },
                { field: "destination", title: "Destination", width: "120px", filterable: false, sortable: false, groupable: false },
                { field: "fare", title: "Fare (in Rs.)", width: "120px", filterable: { cell: { operator: "lt", showOperators: false, suggestionOperator: "Less than" } } },
                { field: "estimated_departure_date", title: "Estd. Departure Date", format: "{0:yyyy-MM-dd}", width: "180px", filterable: false, groupable: false },
                { field: "estimated_arrival_date", title: "Estd. Arrival Date", format: "{0:yyyy-MM-dd}", width: "180px", filterable: false, groupable: false },
                { 
        field: "estimated_departure_time", 
        title: "Estd. Departure Time", 
        template: "#= kendo.toString(new Date(0, 0, 0, Math.floor(estimated_departure_time / 60), estimated_departure_time % 60), 'HH:mm') #", 
        width: "180px", 
        filterable: false, 
        groupable: false 
    },
    { 
        field: "estimated_arrival_time", 
        title: "Estd. Arrival Time", 
        template: "#= kendo.toString(new Date(0, 0, 0, Math.floor(estimated_arrival_time / 60), estimated_arrival_time % 60), 'HH:mm') #", 
        width: "150px", 
        filterable: false, 
        groupable: false 
    },{
                    title: "Action",
                    template: "<button class='kendo-book-btn' onclick='bookTicket(\"#= flight_id #\")'>Book</button>",
                    width: "90px",
                    filterable: false
                }
            ]
        }).data("kendoGrid");

        setInterval(function(){
            grid.dataSource.read();
            grid.refresh();
        }, 10000);

        var state = JSON.parse($.cookie("flightsState"));
        if(state){
            if(state.filter){
                parseFilterDates(state.filter, grid.dataSource.options.schema.model.fields);                    
            }
            grid.dataSource.query(state);
        } else {
            grid.dataSource.read();
        }
    });

    function parseFilterDates(filter, fields){
        if(filter.filters){
            for(var i = 0; i < filter.filters.length; i++){
                parseFilterDates(filter.filters[i], fields);
            }
        } else {
            if(fields[filter.field].type == "date"){
                filter.value = kendo.parseDate(filter.value);
            }
        }
    }

    function bookTicket(flightId) {
        const url = `{% url 'flight_details' 0 %}`.replace('0', flightId);
        window.location.href = url;
    }

    function clearFilters() {
        var grid = $("#grid").data("kendoGrid");
        grid.dataSource.filter({});
        grid.dataSource.sort({});
    }
    function onTimeSlotChange() {
    var departureTimeSlot = $("#departure-time-filter").data("kendoDropDownList").value();
    var arrivalTimeSlot = $("#arrival-time-filter").data("kendoDropDownList").value();
    var grid = $("#grid").data("kendoGrid");
    var currentFilters = [];

    if (departureTimeSlot) {
        // Split the time slot into start and end hours
        var [startHour, endHour] = departureTimeSlot.split("-");

        // Construct filter criteria for departure time
        currentFilters.push({
            field: "estimated_departure_time",
            operator: "gte",
            value: parseInt(startHour) * 60 // Convert start hour to minutes
        });
        currentFilters.push({
            field: "estimated_departure_time",
            operator: "lt",
            value: parseInt(endHour) * 60 // Convert end hour to minutes and add 60 for the next hour
        });
    }

    if (arrivalTimeSlot) {
        // Split the time slot into start and end hours
        var [startHour, endHour] = arrivalTimeSlot.split("-");

        // Construct filter criteria for arrival time
        currentFilters.push({
            field: "estimated_arrival_time",
            operator: "gte",
            value: parseInt(startHour) * 60 // Convert start hour to minutes
        });
        currentFilters.push({
            field: "estimated_arrival_time",
            operator: "lt",
            value: parseInt(endHour) * 60  // Convert end hour to minutes and add 60 for the next hour
        });
    }

    grid.dataSource.filter(currentFilters);
}

</script>
{% endblock %}

